* {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-size: 24px;
    border: 1px solid #eee;
    color: #555;
}
